@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'DM Sans', sans-serif;
  /* background-color: #000; */
}

.bg-1{
 
    background-image:linear-gradient(rgb(27, 1, 13), rgb(26, 1, 1), rgb(0, 0, 0));
    background-size: cover;
    background-repeat: no-repeat;
  
}

.bg-2{


  background-image: linear-gradient(rgb(0, 0, 0), rgb(48, 1, 1), rgb(27, 1, 13));
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  background:black;
  background-size: cover;
  background-repeat: no-repeat;

}

.bg-contador{
  background-image: radial-gradient(circle, rgba(161, 15, 47, 0.733) 0%, rgba(72, 2, 2, 0.765) 100%);
}