@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'DM Sans', sans-serif;
  /* background-color: #000; */
}

.bg-1{
 
    background-image:linear-gradient(#ab2219, #3d0c04, #000);
    background-size: cover;
    background-repeat: no-repeat;
  
}

.bg-2{


  background-image: linear-gradient(#000, #3d0c04, #ab2219);
  
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  background:#310300;
  background-size: cover;
  background-repeat: no-repeat;

}

.bg-contador{
  background-image: radial-gradient(circle, rgba(161, 15, 47, 0.733) 0%, rgba(72, 2, 2, 0.765) 100%);
}